@import url('https://fonts.googleapis.com/css2?family=Geist:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*,*:after,*:before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
    display: flex;
    justify-content: center; 
    height: 100vh;
    width: 100vw;
    align-items: center;
    perspective: 1000px;
}
.container{
    border-radius: 412px;
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 2.5rem;
    border: 20px solid white;
    transform: rotateX(30deg);
}
button{
    height: 150px;
    width: 250px;
    border-radius: 50px;
}

.buttoncontainer{
    display: grid;
    perspective: 1000px;
    grid-template-rows: 150px 150px;
    grid-template-columns: 250px 250px;
    border-radius: 50px;
    border: 3px solid black;
    background: black;
}
.roundContainer{
    margin-bottom: 30px;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
@media(width<=677px){
    .container{
        border-radius: 412px;
        height: 350px;
        width: 350px;
        border: 2px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        transform: rotateX(40deg);
        font-size: 2rem;
    }
    button{
        height: 50px;
        width: 100px;
        border-radius: 50px;
    }
    .buttoncontainer{
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 100px 100px;
    }
    .roundContainer{
        margin-bottom: 30px;
    }
}